<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ambientcospaces" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AmbientCoSpaces</name>

    <js-module name="AmbientCoSpaces" src="www/AmbientCoSpaces.js">
        <clobbers target="cordova.plugins.AmbientCoSpaces"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AmbientCoSpaces">
                <param name="android-package"
                       value="ambient.cospaces.positioning.algorithm.AmbientCoSpaces"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature android:name="android.hardware.bluetooth" android:required="true" />
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
            <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.INJECT_EVENTS"/>
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">

            <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>

            <receiver
                    android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
                    android:process=":remote"
                    android:name="ambient.cospaces.positioning.algorithm.ServiceRestarter"
                    android:enabled="true"
                    android:exported="true"
                    android:label="RestartServiceWhenStopped">
                <intent-filter>
                    <action android:name="android.net.wifi.SCAN_RESULTS" />
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                    <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                    <action android:name="ambient.cospaces.RestartService"/>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>

            <service
                    android:name="ambient.cospaces.positioning.algorithm.BackgroundService"
                    android:enabled="true"
                    android:stopWithTask="false"
                    android:exported="true"></service>

            <service
                    android:name="ambient.cospaces.positioning.algorithm.NotificationService"
                    android:enabled="true"
                    android:stopWithTask="false"
                    android:exported="true"></service>

            <service android:enabled="true"
                     android:exported="true"
                     android:isolatedProcess="false"
                     android:label="iBeacon"
                     android:name="org.altbeacon.beacon.service.BeaconService">
            </service>

            <service android:enabled="true"
                     android:name="org.altbeacon.beacon.BeaconIntentProcessor">
                <meta-data android:name="background" android:value="true" />
                <intent-filter android:priority="1" >
                    <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_RANGING" />
                    <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_MONITORING" />
                </intent-filter>
            </service>
        </config-file>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/AmbientCoSpaces.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/BackgroundService.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/BeaconHandler.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/PositioningAlgorithm.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/Position.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/RestClient.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/ServiceRestarter.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/cordova/ambient/cospaces/positioning/algorithm/NotificationService.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>

        <source-file src="libs/android/altbeacon.jar" target-dir="libs" framework="true" />
        <source-file src="libs/android/okhttp-3.8.1.jar" target-dir="libs" framework="true" />
        <source-file src="libs/android/okio-1.13.0.jar" target-dir="libs" framework="true" />
        <source-file src="libs/android/org.eclipse.paho.android.service-1.1.1.jar" target-dir="libs" framework="true" />
    </platform>
</plugin>