<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ambientcospaces" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AmbientCoSpaces</name>

    <js-module name="AmbientCoSpaces" src="www/AmbientCoSpaces.js">
        <clobbers target="cordova.plugins.AmbientCoSpaces"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AmbientCoSpaces">
                <param name="android-package"
                       value="cordova.ambient.cospaces.positioning.algoritm.AmbientCoSpaces"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature android:name="android.hardware.bluetooth" android:required="true" />
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">

            <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>

            <service
                    android:name="cordova.ambient.cospaces.positioning.algoritm.BackgroundService"
                    android:enabled="true"
                    android:exported="true"></service>

            <service android:enabled="true"
                     android:exported="true"
                     android:isolatedProcess="false"
                     android:label="iBeacon"
                     android:name="org.altbeacon.beacon.service.BeaconService">
            </service>

            <service android:enabled="true"
                     android:name="org.altbeacon.beacon.BeaconIntentProcessor">
                <meta-data android:name="background" android:value="true" />
                <intent-filter android:priority="1" >
                    <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_RANGING" />
                    <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_MONITORING" />
                </intent-filter>
            </service>
        </config-file>
        <source-file src="src/android/AmbientCoSpaces.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/android/BackgroundService.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/android/BeaconHandler.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/android/PositioningAlgorithm.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>
        <source-file src="src/android/Position.java"
                     target-dir="src/cordova/ambient/cospaces/positioning/algoritm"/>


        <source-file src="libs/android/altbeacon.jar" target-dir="libs" framework="true" />
    </platform>
</plugin>